<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sn1perlang.gladly">
      <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Gladly"
        android:theme="@style/Theme.AppCompat.NoActionBar"> <activity
            android:name="com.google.androidgamesdk.GameActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <meta-data 
                android:name="android.app.lib_name" 
                android:value="gladly_engine" />
        </activity>
    </application>
</manifest>
